<footer class="footer">
    <div class="container">
      <div class="row">
        <!-- About Us -->
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>
            We are an online store offering a wide range of products from sports, beauty, furniture, tablets, laptops, and much more.
          </p>
        </div>
  
        <!-- Quick Links -->
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
            <li><a  routerLink="/contactus" routerLinkActive="active" >Contact Us</a></li>
            <li><a routerLink="/about" routerLinkActive="active" >About Us</a></li>
          </ul>
        </div>
  
        <!-- Contact Info -->
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>
            {{email}} <br />
            Phone: +212 689 802 208 <br />
            Address: Rabat Agdal, Morocco.
          </p>
          <div class="social-links">
            <a ><i class="fa-brands fa-facebook"></i></a>
            <a ><i class="fa-brands fa-square-x-twitter"></i></a>
            <a ><i class="fa-brands fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="footer-bottom">
      <p>© 2024 UNIVERSO. All rights reserved.</p>
    </div>
  </footer>
  