<div class="amazon-logo">
    <img src="unv.png" alt="Universo Logo">
</div>
  
<div class="sign-in-container">
    <h2>Create account</h2>
  
    <form>
      <label for="name">Your name</label>
      <input type="text" id="name" name="name"  required>

      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password"  required>

      <label for="confirm-password">Re-enter password</label>
      <input type="password" id="confirm-password" name="confirm-password" required>

      <button type="submit">Create your Universo account</button>
    </form>

    <p>By creating an account, you agree to Universo's 
      <a href="#">Conditions of Use & Sale</a>. Please see our 
      <a href="#">Privacy Notice</a>, and <a href="#">Cookies Notice</a>.
    </p>

    <p>Already have an account? <a routerLink="/signin" routerLinkActive="active">Sign in</a></p>
</div>
<div class="okk" style="height: 1vh"></div>
